.growing-img-enter {
  transform: scale(0.5);
}

.growing-img-enter-active {
  transform: scale(1);
  transition: transform 400ms cubic-bezier(0.1, 0.82, 0.25, 1);
}

.growing-img-exit {
  transform: scale(1);
}

.growing-img-exit-active {
  transform: scale(0.5);
  transition: transform 400ms cubic-bezier(0.1, 0.82, 0.25, 1);
}
